body{
  text-align: center;
  background-color: hsl(212, 45%, 89%);
}
.box{
  margin: auto;
  border-radius: 20px;
  background-color:White;
  width:335px;
  height: 500px;

}
.credits{
  color: black;
  font-weight: bold;
}
img{
  border-radius: 20px;
  margin: 20px auto 5px;
  width: 300px;
}
h2{
  color: hsl(218, 44%, 22%);
  font-family: Outfit,serif;
  font-weight: 700;
  margin: 10px;
}
p{
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  font-family: Outfit,serif;
  font-weight: 400;
  margin: auto;
  width: 270px;
}
.attribution{
  background-color: hsl(218deg 10% 64%);
  height: 90px;
  position: relative;
  top: 90px;

}
a{
  text-decoration: none;
  color:  #F3E5AB;
  font-weight: 500;
  }
  a:hover {
    color: White;
    font-weight: 550;
  }
